# Chapter 8: Functions in Python

## Defining
* A function is a block of code which only runs when it is called.

* You can pass data, known as parameters, into a function.

* A function can return data as a result.

### This is how you define a function in Python
- def keyword
- name of the function
- (parameters) --> parameters can also be empty
- body of the function

In [2]:
def my_function():
    print("Hello")
my_function()
#calling the function to get the output

Hello

In [4]:
def myf():
    print(8*2)
myf()

16

### Why we need function?

In [6]:
def addr():
    print("2001 Newburg Road")
addr()
addr()
addr()
addr()
addr()

2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road

### Function with parameters


### The `return` statement: 
* Use inside a function or method to send the function’s result back to the caller. 
* A return statement consists of the `return` keyword followed by an optional return value

* Three Ways to Return a Result to a Function’s Caller
    * **`return`** followed by an expression.
    * **`return`** without an expression implicitly returns **`None`**&mdash;represents the **absence of a value** and **evaluates to `False` in conditions**.
    * **No `return` statement implicitly returns `None`**.

In [7]:
def sqr(number):
    return (number**2)
sqr(3)

9

In [8]:
sqr(123984)

15372032256

In [10]:
def cube(number):
    return(number**3)
cube(4) #cubes the number

64

In [11]:
cube(90)

729000

## Our own functions for practice
`Echo` that will act same as print

In [12]:
def echo(word):
    return word
echo("Hi")

'Hi'

In [13]:
echo(9)

9

### Practice1 Favorite Book: Write a function called favorite_book() that accepts one parameter, title. 
The function should print a message, such as One of my
favorite books is Alice in Wonderland. Call the function, making sure to
include a book title as an argument in the function call.

In [26]:
def fav_book(title):
    return ("My favorite book is "+ title)

In [27]:
fav_book("Alice in Wondeland")

'My favorite book is Alice in Wondeland'

In [28]:
def fav_book1(title):
    print ("My favorite book is "+title)

In [29]:
fav_book1("Alice in Wondeland")

My favorite book is Alice in Wondeland

### Functions with Multiple Parameters
* `calc_MPG` function that determines the MPG from miles driven and gallons used

In [30]:
def calc_MPG(m_d, g_u):
    return(m_d/g_u)

In [31]:
calc_MPG(100,3)

33.333333333333336

In [34]:
calc_MPG(200,5)

40.0

## Default Parameter
With default parameters, you can specify a default value that will be used for the function. If you pass a parameter in for the default value, it uses that value instead. 
### def MPG(miles=200,gallon=12)

In [1]:
def MPG(m_d=200, g_u=12):
    g_u=11
    #m_d=300
    return (m_d/g_u)

In [2]:
MPG()

18.181818181818183

In [3]:
MPG(m_d=400)

36.36363636363637

###  Function repeat using `for` loop

In [43]:
def repeat_e(data, count):
    for i in range (count):
        print(data)

In [44]:
repeat_e("2001 Newburg Rd", 5)

2001 Newburg Rd
2001 Newburg Rd
2001 Newburg Rd
2001 Newburg Rd
2001 Newburg Rd

## Practice: Define a function called `name` and print your name 20 times using the function

In [45]:
def name(data,count):
    for x in range(count):
        print(data)

In [46]:
name("McKenzee", 20)

McKenzee
McKenzee
McKenzee
McKenzee
McKenzee
McKenzee
McKenzee
McKenzee
McKenzee
McKenzee
McKenzee
McKenzee
McKenzee
McKenzee
McKenzee
McKenzee
McKenzee
McKenzee
McKenzee
McKenzee

### Write a function to find maximum of three values

In [4]:
max(23,45,89)

89

In [7]:
def maximum(a,b,c):
    if a>b and a>c:
        largest=a 
    elif (b>c):
        largest=b
    else:
        largest=c
    return largest

In [8]:
maximum(45,67,89)

89

In [9]:
maximum(90,75,80)

90

In [10]:
maximum(5,9,4)

9

### Practice Example: Define `minimum` function of three values

In [11]:
def minimum(a,b,c):
    if a<b and a<c:
        smallest=a 
    elif (b<c):
        smallest=b
    else:
        smallest=c
    return smallest

In [12]:
minimum(5,6,7)

5

In [13]:
minimum(10,5,90)

5

In [14]:
minimum(90,10,6)

6

#  Arbitrary Argument Lists
*  **`*args`**, indicating that the function can receive any number of additional arguments. 
* The `*` before the parameter name tells Python to pack any remaining arguments into a tuple that’s passed to the `args` parameter.

In [17]:
def addition (*args):
    return sum(args)

In [19]:
addition(10,23,45,67,90,100)

335

In [23]:
#Mean/Average of numbers
def get_mean (*args):
    return (sum(args)/len(args))

In [24]:
get_mean(5,5,5,5,5)

5.0

In [25]:
get_mean(1,2,3,4,5,6,7,8,9,10)

5.5

### Arbitary Argumented list with list

In [27]:
numbers=[34,56,78,99]
get_mean(*numbers)

66.75

### More about functions
In this session we looked at the concept of `scope`, working with `random numbers`, `statictics` and using various versions of import to work with different functions in module.

### Scope
* Each identifier has a `scope` that determines where you can use it in your program.

* A local variable’s identifier has **local scope**. 

* Identifiers defined outside any function (or class) have **global scope**—these may include functions, variables and classes.

One thing you don't want to do is create a variable and function with the same name. The variable will "hide" the function and prevent you from calling it. If you execute the cell below it will throw an error.

In [28]:
x=10 #Global variable

def scope_of_fun(num):
    return num*2 #num is a local variable
scope_of_fun(20)

40

In [29]:
print(x)

10

In [31]:
#print(num) gives you name error, num is not defined b/c it is a local variable

* By default, you cannot _modify_ a global variable in a function
* Python creates a **new local variable** when you first assign a value to a variable in a function’s block.
* In function `try_to_modify_global`’s block, the local `x` **shadows** the global `x`, making it inaccessible in the scope of the function’s block.

In [33]:
x=10
def try_to_mod_global():
    x=3.5
    print(x)
try_to_mod_global()

3.5

In [34]:
x

10

* To modify a global variable in a function’s block, you must use a **`global`** statement to declare that the variable is defined in the global scope: "modify_global"

In [35]:
x=10
def mod_global():
    global x
    x=3.5
    print(x)
mod_global()

3.5

In [36]:
print(x)

3.5

## Write functions to find out Area and Perimeter of circle

In [37]:
from math import pi
pi

3.141592653589793

In [39]:
def area_circle(r):
    return pi*(r**2)
def peri_circle(r):
    return 2*pi*r
rad=int(input("Enter the radius values: "))
print("The area of the circle: ", round(area_circle(rad)))
print("The perimeter of the circle: ", round(peri_circle(rad)))

Enter the radius values: 10
The area of the circle:  314
The perimeter of the circle:  63

## Write functions to find out Area and Perimeter of rectangle

In [42]:
def area_rec(h,w):
    return h*w
def peri_rec(h,w):
    return 2*(h+w)
Hei=int(input("Enter the height value of rectangle: "))
Wid=int(input("Enter the width value of rectangle: "))
print("The area of the rectangle: ", round(area_rec(Hei,Wid)))
print("The perimeter of the rectangle: ", round(peri_rec(Hei,Wid)))

Enter the height value of rectangle: 2
Enter the width value of rectangle: 4
The area of the rectangle:  8
The perimeter of the rectangle:  12

## Random Number Generation
* Can introduce the element of chance via the Python Standard Library’s `random` module.

* `randrange` function generates an integer from the first argument value up to, but not including, the second argument value.
* Different values are displayed if you re-execute the loop.
* random.randrange where `random` is module and `randrange` is method

In [45]:
import random
x=random.randrange(10,20)
print(x)

11

In [47]:
#Filling an empty list with random numbers
List=[]
for i in range(10): #10 entries to the list
    x=random.randrange(1,20) #numbers will be inbetween 1 to 19(included)
    List.append(x)
print(List)

[14, 7, 9, 2, 13, 3, 13, 16, 10, 6]

## Create a list of 20 numbers in the range of 30 to 50

In [48]:
List_2=[]
for i in range(20): #20 entries to the list
    x=random.randrange(30,51) #numbers will be inbetween 30 to 50(included)
    List_2.append(x)
print(List_2)

[45, 49, 48, 45, 34, 40, 34, 40, 39, 43, 43, 49, 36, 48, 32, 36, 50, 38, 40, 46]

### Guess the number between 1 to 10

In [1]:
import random
number=random.randint(1,10) #10 is included
entered_num=None 
time=0

while entered_num!=number:
    entered_num=int(input("Enter a number between 1-10: "))
    
    if entered_num==number:
        print("You won!","You took",time, "chances.")
    else:
        print("Try again.")
    time=time+1

Enter a number between 1-10: 6
Try again.
Enter a number between 1-10: 8
Try again.
Enter a number between 1-10: 2
Try again.
Enter a number between 1-10: 3
You won! You took 3 chances.